@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

.about-us-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("/bg.jpg");
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 40px;
  font-family: "Poppins", sans-serif;
  min-height: 500px;
  flex-wrap: wrap; /* Allows content to adjust better on smaller screens */
  flex-direction: column;
}

.about-us-text h2 {
  color: #ffa500; /* Orange header */
  text-transform: lowercase; /* Small caps effect */
  font-variant: small-caps;
  margin: 0 0 20px 0; /* Adjust spacing around the header */
  padding-top: 20px;
}

.about-us-text {
  padding-left: 10%;
  padding-right: 10%;
  background-color: rgba(46, 46, 46, 0.9); /* Transparent grey background */
  border-radius: 5px; /* Optional: adds rounded corners to the text box */
  max-width: 35%; /* Limits the width of the text box, adjust as needed */
  padding-bottom: 20px;
}

.about-us-text p {
  line-height: 1.6; /* Improve readability */
  padding: 10px;
}

@media (max-width: 768px) {
  .about-us-container {
    flex-direction: column;
    text-align: center;
    padding: 20px;
    min-height: auto;
  }

  .about-us-image {
    width: 90%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 100%;
  }

  .about-us-text {
    max-width: 80%; /* Adjusted to keep text readable on smaller screens */
    padding: 15px;
    margin: 20px auto;
  }
  .about-us-text p {
    max-width: 80%; /* Adjusted to keep text readable on smaller screens */
    padding: 20px;
    margin: 20px auto;
  }
}

@media (max-width: 480px) {
  .about-us-text {
    max-width: 90%; /* Ensures text box remains readable */
    padding: 15px;
  }
}
