/* src/components/Services.css */

.title h2 {
  text-align: center;
  font-size: 2rem;
}

.title p {
  text-align: center;
  font-style: italic;
  filter: opacity(80%);
}

.services-list {
  justify-content: center;
  justify-items: center;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* Creates two columns of equal width */
  gap: 20px; /* Smaller gap between the columns */
  justify-content: center; /* Centers the grid items */
  width: auto; /* Adjust the width as needed */
  margin: auto; /* Centers the grid container horizontally */
  max-width: 70vw;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}

.service {
  min-width: 300px;
  transition: all 0.1s ease;
}

/* SimpleCard.module.css */
.card {
  border-radius: 5px;
  max-width: 345px;
  min-width: 300px;
  transition: all 0.1s ease;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin: 1rem auto; /* Center the card in the page */
  overflow: hidden; /* Ensures content does not spill outside the card */
  display: block; /* This makes the card behave as a block-level element */
}

.cardActionArea {
  text-decoration: none;
  color: inherit;
}

.cardActionArea:hover {
  text-decoration: none; /* Prevents underline on hover */
}

.cardMedia {
  width: 100%; /* Ensures the image takes up 100% width of the card */
  height: 140px; /* Fixed height for images */
  object-fit: cover; /* Ensures images cover the area without distorting aspect ratio */

  filter: brightness(100%);
  transition: all 0.2s ease-in-out;
}
.card:hover .cardMedia {
  filter: brightness(
    100%
  ); /* Ensures images cover the area without distorting aspect ratio */
}

.card:hover {
  transform: scale(1);
}

.cardContent {
  padding: 16px;
}

.header {
  margin: 0;
  font-size: 1.25rem;
  font-weight: bold;
}

.text {
  font-size: 0.875rem;
  color: #6c757d;
}

@media (max-width: 1200px) {
  .services-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 60vw;
  }
  .service {
    min-width: 400px;
    transition: all 0.1s ease;
  }
}
@media (max-width: 900px) {
  .services-list {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 100vw;
  }

  .service {
    min-width: 300px;
    transition: all 0.1s ease;
  }
}
